* {
    box-sizing: border-box;
}    

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 1em;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 20px #353535;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
}

h1.time {
    align-self: center;
}